body {
  background-color: #a3d8f4;
  font-family: "Comic Neue", serif;
}

header {
  display: flex;
  flex-direction: column;
}
.header-top {
  display: flex;
  justify-content: space-between;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 equal columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 10px; /* Adjust the gap between grid items if needed */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  background-color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Hover effect */
.card:hover {
  transform: scale(1.03); /* Slightly grow the card */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2); /* Increase shadow intensity */
}

.pokemon-avatar {
  max-width: 300px;
}
